{% extends "SiteBundle::base.html.twig" %}

{% block style %}
    <link rel="stylesheet" href="../public/css/pages/contact.css" type="text/css" />
{% endblock %}

{% block title  %}Galerie photos{% endblock %}

{% block content %}
    <div>
        <section>
            {% for image in images %}
            <p>
                {{ activity.description }}
                <img src="{{ images.name }}" alt="Small picture : Autumn" />
            </p>
                {% enfor %}
        </section>
    </div>
{% endblock %}