.BodyTitle{
	text-align: center;
	font-size: 2em;
}
.AvatarMiddleProfil{
    text-align: center;
}
.row {
	margin-bottom: 5em;
}
.container .row {
	justify-content: center;
	text-align: center;
	display: flex;
	border: 1px solid red;
	padding-left: 2em;
	margin-top: 2em;
	padding-top: 2em;
}
.col-md-11{
	width: 20em;
	text-align: center;
	margin-left: 4em;
	margin-bottom: 3em;
}
.col-md-11 p, h3{
	text-align: left;
}
.ProfilBouton{
	margin-left: 11em;
	margin-bottom: 1em
}
.btn-primary, .btn-primary:hover {
	background-color: blue;
}

.footer{
	position: absolute;
}
.photo_profile img{
	position: relative;
	border-color: red;
	width: 8em;
	height: 10em;
    border: 2px solid black;
    box-shadow: 2px 2px 2px black;
}
.modifyImage{
    margin-top: 1em;
}

.change_password_button{
	margin-top: 5em;
}