{% extends "SiteBundle::base.html.twig" %}

{% block title  %}BDE Cesi Bordeaux{% endblock %}

{% block content %}
    <div class="container">
        <div id="diaporama" class="carousel slide" data-ride="carousel" data-interval="3000" data-pause="hover">
            <ol class="carousel-indicators">
                <li data-target="#diaporama" data-slide-to="0" class="active"></li>
                <li data-target="#diaporama" data-slide-to="1"></li>
                <li data-target="#diaporama" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <!-- classe active pour déterminer la première image du diaporama -->
                <div class="item active">
                    <img src="Beautiful-garden-pavilion_1920x1080.jpg" alt="">
                    <div class="carousel-caption">
                        <h3>Pavillon</h3>
                        <p><button class="btn btn-primary">More</button></p>
                    </div>
                </div>
                <div class="item">
                    <img src="rainbow-garden-nature-colorful-trees-reflection-landscape-rocks-green-lake-1920x1080.jpg" alt="">
                    <div class="carousel-caption">
                        <h3>Landscape</h3>
                        <p><button class="btn btn-primary">More</button></p>
                    </div>
                </div>
                <div class="item">
                    <img src="full-hd-images-wallpaper-9.jpg" alt="">
                    <div class="carousel-caption">
                        <h3>City</h3>
                        <p><button class="btn btn-primary">More</button></p>
                    </div>
                </div>
            </div>
            <!-- boutons suivant précédent pour les images -->
            <a class="left carousel-control" href="#diaporama" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#diaporama" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Test1</h2>
                <img src="#" class="peinture">
                <p>Sejumlah text seragam Lorem Ipsum yang digunakan semenjak 1500an di terbitkan di bawah ini untuk mereka yang berminat. Seksyen 1.10.32 dan 1.10.33 from "de Finibus Bonorum et Malorum" oleh Cicero juga disertakan seperti kandungan asal, dan disusuli dengan versi Inggeris semenjak tahun 1914, yang di terjemah oleh H. Rackham.</p>
                <p><a class="btn btn-default" href="#" role="button" onclick="">Details »</a></p>
            </div>
            <div class="col-md-4">
                <h2>Test2</h2>
                <img src="#" class="peinture">
                <p>Sejumlah text seragam Lorem Ipsum yang digunakan semenjak 1500an di terbitkan di bawah ini untuk mereka yang berminat. Seksyen 1.10.32 dan 1.10.33 from "de Finibus Bonorum et Malorum" oleh Cicero juga disertakan seperti kandungan asal, dan disusuli dengan versi Inggeris semenjak tahun 1914, yang di terjemah oleh H. Rackham.</p>
                <p><a class="btn btn-default" href="#" role="button" onclick="test()">Details »</a></p>
            </div>
            <div class="col-md-4">
                <h2>Test3</h2>
                <img src="#" class="peinture">
                <p>Sejumlah text seragam Lorem Ipsum yang digunakan semenjak 1500an di terbitkan di bawah ini untuk mereka yang berminat. Seksyen 1.10.32 dan 1.10.33 from "de Finibus Bonorum et Malorum" oleh Cicero juga disertakan seperti kandungan asal, dan disusuli dengan versi Inggeris semenjak tahun 1914, yang di terjemah oleh H. Rackham.</p>
                <p><a class="btn btn-default" href="#" role="button">Details »</a></p>
            </div>
        </div>
        <hr>
    </div>
{% endblock %}