{% extends "SiteBundle::base.html.twig" %}

{% block title  %}BDE Cesi Bordeaux{% endblock %}

{% block style %}
    <link rel="stylesheet" href="../public/css/pages/index.css" type="text/css" />
{% endblock %}
{% block content %}
    <div class="container">
        <div id="diaporama" class="carousel slide" data-ride="carousel" data-interval="3000" data-pause="hover">
            <ol class="carousel-indicators">
                <li data-target="#diaporama" data-slide-to="0" class="active"></li>
                <li data-target="#diaporama" data-slide-to="1"></li>
                <li data-target="#diaporama" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <!-- classe active pour déterminer la première image du diaporama -->
                <div class="item active">
                    <img src="../public/img/kayak.jpg" alt="">
                    <div class="carousel-caption">
                        <h3>Kayak</h3>
                        <p><button class="btn btn-primary">Plus</button></p>
                    </div>
                </div>
                <div class="item">
                    <img src="../public/img/foot.jpg" alt="">
                    <div class="carousel-caption">
                        <h3>Foot</h3>
                        <p><button class="btn btn-primary">Plus</button></p>
                    </div>
                </div>
                <div class="item">
                    <img src="../public/img/guitare.jpg" alt="">
                    <div class="carousel-caption">
                        <h3>Musique</h3>
                        <p><button class="btn btn-primary">Plus</button></p>
                    </div>
                </div>
            </div>
            <!-- boutons suivant précédent pour les images -->
            <a class="left carousel-control" href="#diaporama" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#diaporama" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Planning</h2>
                <span class="glyphicon glyphicon-calendar" role="button" href="#" width="200" height="200" ></span>
                <p>La liste des activités est disponible ici !<br></br></p>
            </div>
            <div class="col-md-4">
                <h2>Proposez vos activités</h2>
                <span class="glyphicon glyphicon-list" role="button" href="#" width="200" height="200"></span>
                <p>L'équipe du BDE est à l'écoute de toute proposition que vous ne ferez !</p>
            </div>
            <div class="col-md-4">
                <h2>Boutique</h2>
                <span class="glyphicon glyphicon-shopping-cart" role="button" href="#" width="200" height="200"></span>
                <p>Retrouvez tous nos articles ici !<br></br></p>
            </div>
        </div>
        <hr>
    </div>
{% endblock %}