# To get started with security, check out the documentation:
# http://symfony.com/doc/current/security.html
security:
    encoders:
        UserBundle\Entity\User: sha512

    role_hierarchy:
        ROLE_BDE:         ROLE_USER
        ROLE_ADMIN:       ROLE_USER ROLE_BDE
        ROLE_SUPER_ADMIN: [ROLE_USER, ROLE_ADMIN, ROLE_ALLOWED_TO_SWITCH]

    providers:
        main:
            id: fos_user.user_provider.username

    firewalls:
        dev:
            pattern:  ^/(_(profiler|wdt)|css|images|js)/
            security: false
            anonymous: ~
        # On crée un pare-feu uniquement pour le formulaire
        main_login:
            # Cette expression régulière permet de prendre /login (mais pas /login_check !)
            pattern:   ^/register
            anonymous: ~ # On autorise alors les anonymes sur ce pare-feu
        main:
            pattern:          ^/
            anonymous:        ~
            provider:         main
            form_login:
                login_path:   fos_user_security_login
                check_path:   fos_user_security_check
            logout:
                path:         /logout
                target:       /
            remember_me:
                secret:       %secret% # %secret% est un paramètre de parameters.yml

    access_control:
        - { path: ^/admin, roles: ROLE_ADMIN }
